body {
  font-family: 'Lato', sans-serif;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.full-width {
  width: 100%;
  margin: 0 auto;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  background-color: #395462;
  width: 100%;
}

header h1 {
  font-family: "Roboto Slab", serif;
  font-size: 75px;
  color: #cce0dd;
  text-align: center;
}

header nav {
  text-align: center;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  color: #cce0dd;
  padding-left: 40px;
}

header nav ul li a:hover {
  color: #701217;
}

header a i {
  visibility: hidden;
}

/* Greeting */
#greeting {
  padding: 40px 15px;
}

#greeting p {
  font-size: 20px;
  line-height: 27px;
}

/* Current */
#current {
  border: 2px solid #395462;
  padding: 20px;
}

#current h2 {
  font-family: "Roboto Slab", serif;
  font-size: 65px;
  text-align: center;
  color: #395462;
}

#current h3 {
  font-size: 55px;
  font-family: "Roboto Slab", serif;
}

#current p {
  font-size: 20px;
  line-height: 27px;
}

#current iframe {
  width: 100%;
  height: 500px;
}

/* Stream */
#stream {
  height: 850px;
  padding: 20px;
}

#stream .half-width {
  width: 50%;
  float: left;
}

#stream h2 {
  font-size: 65px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #395462;
}

#stream h3 {
  font-size: 55px;
  font-family: "Roboto Slab", serif;
}

#stream p {
  font-size: 20px;
  line-height: 27px;
  padding-right: 15px;
}

#stream iframe {
  width: 90%;
  height: 300px;
}

/* Latest */
#latest {
  height: 27%;
  padding: 20px 40px;
}

#latest .half-width {
  width: 50%;
  float: left;
}

#latest h2 {
  font-size: 65px;
  font-family: "Roboto Slab", serif;
  color: #395462;
  text-align: center;
}

#latest img {
  width: 80%;
}

#latest h3 {
  font-size: 55px;
  font-family: "Roboto Slab", serif;
}

#latest p {
  font-size: 20px;
  line-height: 27px;
  padding-right: 20px;
}

#latest button {
  background-color: #395462;
  color: #cce0dd;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  padding: 15px;
  width: 50%;
  margin: 20px 15px;
}

/* Upcoming */
#upcoming {
  height: 700px;
  padding: 20px 0;
}

#upcoming .third-width {
  padding-left: 20px;
}

#upcoming h2 {
  font-family: "Roboto Slab", serif;
  font-size: 65px;
  color: #395462;
  text-align: center;
}

#upcoming h3 {
  font-size: 55px;
  font-family: "Roboto Slab", serif;
}

#upcoming p {
  font-size: 20px;
  line-height: 27px;
}

/* Footer */
footer {
  background-color: #395462;
  width: 100%;
}

footer .half-width {
  width: 50%;
  float: left;
}

footer p {
  font-size: 16px;
  color: #cce0dd;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li a {
  text-decoration: none;
  color: #cce0dd;
  padding-left: 25px;
}
